{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Mon Compte {% endblock %}

{% block body %}
    <a href="{{path('register')}}"> Pas encore de compte ? Inscrivez vous!</a>
{% endblock %}
