{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Automobile
{% endblock %}

{% block body %}
	{# HEADER #}
	<header class="header_auto">
		<h1>AUTOMOBILE</h1>
	</header>
	<main>
		<div
			class="main_auto">
			{# Block inter-section récurrent #}
			<div class="logo_interSection">
				<h2 id="fix">Réparation / Maintenance Automobile</h2>
			</div>
			{# Block Réparation automobile #}
			<section class="presta_auto">
				<article class="container1">
					<h2>Réparation / Maintenance automobile</h2>
					<p>Ut porta tempus magna, sed ornare ante iaculis lobortis.
						                        Ut in pulvinar turpis, ut bibendum elit. Proin non suscipit
						                        metus, sit amet convallis diam. Donec condimentum
						                        metus ullamcorper magna elementum, sed elementum
						                        libero blandit. Morbi ultricies ex in mi aliquet aliquam.
						                        Nullam eu posuere est. Ut egestas pellentesque quam, sed
						                        facilisis leo venenatis non. Vestibulum a est sodales, porta.
					</p>
					<img src="assets/img/engine.jpg" alt="vue d'un moteur avec capot ouvert">
				</article>
				<article class="container2">
					<h2>Nos champs d'expertise</h2>
					<p>Fusce nisi dui, commodo a nunc a, eleifend convallis enim.
						                        Ut eget pretium sem, non aliquam leo. Vestibulum a diam
						                        turpis. Integer ut ipsum erat.Duis quam est, gravida sed malesuada nec, luctus id
						                        mauris. Morbi convallis ex id ante sollicitudin, eget feugiat
						                        ex porta.
					</p>
					<ul>
						<li>Curabitur tincidunt metus ut sem
							                            tincidunt, eu malesuada sapien
							                            fermentum.</li>
						<li>Ut in orci quis turpis sodales
							                            ullamcorper eu luctus odio.
						</li>
						<li>Vivamus elementum est vitae nulla
							                            porta pretium.
						</li>
						<li>Sed euismod arcu ac tincidunt
							                            suscipit.
						</li>
						<li>In hendrerit lorem sit amet congue
							                            facilisis.
						</li>
					</ul>
				</article>
				<article class="container3">
					<h2>Nos tarifs</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing
						                        elit. Mauris maximus egestas lorem eu pulvinar.
						                        Quisque et magna velit. Nam auctor enim ac dui
						                        tincidunt suscipit. Aenean eu lorem ut sem dapibus
						                        condimentum.
					</p>
					<div class="block_rounder">
						<div class="rounder">
							<p>Ut in orci quis turpis
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Curabitur tincidunt metus</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>In hendrerit lorem
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Sed euismod</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>
								Vivamus elementum
							</p>
							<p>$$$$</p>
						</div>
					</div>
				</article>
			</section>
			{# Block inter-section récurrent #}
			<div class="logo_interSection">
				<h2 id="repair">Dépannge Automobile</h2>
			</div>
			{# Block dépannage automobile #}
			<section class="presta_auto">
				<article class="container1">
					<h2>Dépannage automobile</h2>
					<p>Ut porta tempus magna, sed ornare ante iaculis lobortis.
						                        Ut in pulvinar turpis, ut bibendum elit. Proin non suscipit
						                        metus, sit amet convallis diam. Donec condimentum
						                        metus ullamcorper magna elementum, sed elementum
						                        libero blandit. Morbi ultricies ex in mi aliquet aliquam.
						                        Nullam eu posuere est. Ut egestas pellentesque quam, sed
						                        facilisis leo venenatis non. Vestibulum a est sodales, porta.
					</p>
					<img src="assets/img/severalCar.jpg" alt="vue d'un moteur avec capot ouvert">
				</article>
				<article class="container2">
					<h2>Nos champs d'expertise</h2>
					<p>Fusce nisi dui, commodo a nunc a, eleifend convallis enim.
						                        Ut eget pretium sem, non aliquam leo. Vestibulum a diam
						                        turpis. Integer ut ipsum erat.Duis quam est, gravida sed malesuada nec, luctus id
						                        mauris. Morbi convallis ex id ante sollicitudin, eget feugiat
						                        ex porta.
					</p>
					<ul>
						<li>Curabitur tincidunt metus ut sem
							                            tincidunt, eu malesuada sapien
							                            fermentum.</li>
						<li>Ut in orci quis turpis sodales
							                            ullamcorper eu luctus odio.
						</li>
						<li>Vivamus elementum est vitae nulla
							                            porta pretium.
						</li>
						<li>Sed euismod arcu ac tincidunt
							                            suscipit.
						</li>
						<li>In hendrerit lorem sit amet congue
							                            facilisis.
						</li>
					</ul>
				</article>
				<article class="container3">
					<h2>Nos tarifs</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing
						                        elit. Mauris maximus egestas lorem eu pulvinar.
						                        Quisque et magna velit. Nam auctor enim ac dui
						                        tincidunt suscipit. Aenean eu lorem ut sem dapibus
						                        condimentum.
					</p>
					<div class="block_rounder">
						<div class="rounder">
							<p>Ut in orci quis turpis
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Curabitur tincidunt metus</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>In hendrerit lorem
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Sed euismod arcu</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>
								Vivamus elementum
							</p>
							<p>$$$$</p>
						</div>
					</div>
				</article>
			</section>
			{# Block inter-section récurrent #}
			<div class="logo_interSection">
				<h2 id="sell">Achat / Revente véhicule</h2>
			</div>
			{# Block Achat/ revente véhicule #}
			<section class="presta_auto">
				<article class="container1">
					<h2>Achat / Revente véhicule</h2>
					<p>Ut porta tempus magna, sed ornare ante iaculis lobortis.
						                        Ut in pulvinar turpis, ut bibendum elit. Proin non suscipit
						                        metus, sit amet convallis diam. Donec condimentum
						                        metus ullamcorper magna elementum, sed elementum
						                        libero blandit. Morbi ultricies ex in mi aliquet aliquam.
						                        Nullam eu posuere est. Ut egestas pellentesque quam, sed
						                        facilisis leo venenatis non. Vestibulum a est sodales, porta.
					</p>
					<img src="assets/img/whiteCar.jpg" alt="vue d'un moteur avec capot ouvert">
				</article>
				<article class="container2">
					<h2>Nos champs d'expertise</h2>
					<p>Fusce nisi dui, commodo a nunc a, eleifend convallis enim.
						                        Ut eget pretium sem, non aliquam leo. Vestibulum a diam
						                        turpis. Integer ut ipsum erat.Duis quam est, gravida sed malesuada nec, luctus id
						                        mauris. Morbi convallis ex id ante sollicitudin, eget feugiat
						                        ex porta.
					</p>

					<ul>
						<li>Curabitur tincidunt metus ut sem
							                            tincidunt, eu malesuada sapien
							                            fermentum.</li>
						<li>Ut in orci quis turpis sodales
							                            ullamcorper eu luctus odio.
						</li>
						<li>Vivamus elementum est vitae nulla
							                            porta pretium.
						</li>
						<li>Sed euismod arcu ac tincidunt
							                            suscipit.
						</li>
						<li>In hendrerit lorem sit amet congue
							                            facilisis.
						</li>
					</ul>
				</article>
				<article class="container3">
					<h2>Nos tarifs</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing
						                        elit. Mauris maximus egestas lorem eu pulvinar.
						                        Quisque et magna velit. Nam auctor enim ac dui
						                        tincidunt suscipit. Aenean eu lorem ut sem dapibus
						                        condimentum.
					</p>
					<div class="block_rounder">
						<div class="rounder">
							<p>Ut in orci quis turpis
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Curabitur tincidunt metus</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>In hendrerit lorem
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Sed euismod arcu</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>
								Vivamus elementum
							</p>
							<p>$$$$</p>
						</div>
					</div>
				</article>
			</section>
			{# Block inter-section récurrent #}
			<div class="logo_interSection">
				<h2 id="renew">Rénovation de véhicule</h2>
			</div>
			{# Block Rénovation automobile #}
			<section class="presta_auto">
				<article class="container1">
					<h2>Rénovation véhicule</h2>
					<p>Ut porta tempus magna, sed ornare ante iaculis lobortis.
						                        Ut in pulvinar turpis, ut bibendum elit. Proin non suscipit
						                        metus, sit amet convallis diam. Donec condimentum
						                        metus ullamcorper magna elementum, sed elementum
						                        libero blandit. Morbi ultricies ex in mi aliquet aliquam.
						                        Nullam eu posuere est. Ut egestas pellentesque quam, sed
						                        facilisis leo venenatis non. Vestibulum a est sodales, porta.
					</p>
					<img src="assets/img/oldCar.jpg" alt="vue d'un moteur avec capot ouvert">
				</article>
				<article class="container2">
					<h2>Nos champs d'expertise</h2>
					<p>Fusce nisi dui, commodo a nunc a, eleifend convallis enim.
						                        Ut eget pretium sem, non aliquam leo. Vestibulum a diam
						                        turpis. Integer ut ipsum erat.Duis quam est, gravida sed malesuada nec, luctus id
						                        mauris. Morbi convallis ex id ante sollicitudin, eget feugiat
						                        ex porta.
					</p>
					<ul>
						<li>Curabitur tincidunt metus ut sem
							                            tincidunt, eu malesuada sapien
							                            fermentum.</li>
						<li>Ut in orci quis turpis sodales
							                            ullamcorper eu luctus odio.
						</li>
						<li>Vivamus elementum est vitae nulla
							                            porta pretium.
						</li>
						<li>Sed euismod arcu ac tincidunt
							                            suscipit.
						</li>
						<li>In hendrerit lorem sit amet congue
							                            facilisis.
						</li>
					</ul>
				</article>
				<article class="container3">
					<h2>Nos tarifs</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing
						                        elit. Mauris maximus egestas lorem eu pulvinar.
						                        Quisque et magna velit. Nam auctor enim ac dui
						                        tincidunt suscipit. Aenean eu lorem ut sem dapibus
						                        condimentum.
					</p>
					<div class="block_rounder">
						<div class="rounder">
							<p>Ut in orci quis turpis
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Curabitur tincidunt metus</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>In hendrerit lorem
							</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>Sed euismod arcu</p>
							<p>$$$$</p>
						</div>
						<div class="rounder">
							<p>
								Vivamus elementum
							</p>
							<p>$$$$</p>
						</div>
					</div>
				</article>
			</section>
			{# Block newsletter #}
			<div class="newsletter">
				<div class="newsletter_txt">
					<p>Besoin de notre expertise ? Une question, un conseil ?</p>
					<p>N'hésitez pas et laissez-nous vos coodornnées
					</p>
				</div>
				<form action="action.php">
					<input type="email" name="mail" id="mail" placeholder="Entrez votre email...">
				</form>
			</div>
		</div>
	</main>
{% endblock %}

