<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Hephaestos est un garage automobile qui prend soin de ses clients et de leurs véhicules.
			    Un vrai savoir-faire dans la maintenance et la réparation automobile mais pas que. Notre vrai passion est la rénovation automobile
			    de voiture de collection, d'époques. Une vrai équipe dédiée pour réaliser de vrais oeuvres sur roues.">
		<title>
			{% block title %}
				HEPHAESTOS
			{% endblock %}
		</title>
		{% block stylesheets %}
            {# TODO/ Add stylesheets CSS -> template top #}
			{# BOOTSTRAP  #}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            {# FONTAWESOME#}
			<script src="https://kit.fontawesome.com/1a87241148.js" crossorigin="anonymous"></script>
			{# GOOGLE FONTS  #}
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
			<link rel="shortcut icon" href="Hephaestos.png" type="image/x-icon">
		{% endblock %}

		{% block javascripts %}
            {# TODO/ Add script javascripts -> template top #}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{% include 'nav.html.twig'  %}
		{% block body %}{% endblock %}
		{% include 'nav.html.twig'  %}
	</body>
</html>

